@model Marketplace.Models.UpdateProductVM

<p>asd</p>
<p>asd</p>
<p>asd</p>
<p>asd</p>
<p>asd</p>
<p>asd</p>
<p>asd</p>
@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<form>
    <div class="form-group" style="display: none;">
        <input type="text" class="form-control" id="inputId" name="Id" value="@Model.Id">
    </div>
    <div class="form-group">
        <label for="inputname">Enter book name</label>
        <input type="text" class="form-control" id="inputname" name="Name" value="@Model.Name">
    </div>
    <div class="form-group">
        <label for="inputauthor">Enter Author</label>
        <input type="text" class="form-control" id="inputauthor" name="Author" value="@Model.Author">
    </div>
    <div class="form-group">
        <label for="inputcategoryid">Choose category</label>
        <input type="text" class="form-control" id="inputcategoryid" name="CategoryId" value="@Model.CategoryId">
    </div>
    <div class="form-group">
        <label for="inputprice">Input price per one book</label>
        <input type="text" class="form-control" id="inputprice" name="Price" value="@Model.Price">
    </div>
    <div class="form-group">
        <label for="inputdescription">Enter description</label>
        <textarea id="inputdescription" class="form-control" name="Description" rows="4" cols="50">@Model.Description</textarea>
    </div>
    <div class="form-group">
        <label for="inputquantity">Input quantity of book</label>
        <input type="text" class="form-control" id="inputquantity" name="Quantity" value="@Model.Quantity">
    </div>
    <div class="editor-field">
        <label for="inputphoto">Choose photo</label>
        <input onchange=file_changed() type="file" name="PhotoFile" id="inputphoto" accept=".jpg, .jpeg, .png"  value=""/>
        <br>
        <img id="img" src="data:image/png;base64,@Model.Photo">
    </div>

    <input type="hidden" name="Photo" value="@Model.Photo"/>
    <div class="form-group">
        <input onclick="filedata()" type="submit" value="Submit" />
    </div>
</form>
}

@section scripts{
    <script>
        function file_changed() {
            var selectedFile = document.getElementById('inputphoto').files[0];
            var img = document.getElementById('img')
            

            var reader = new FileReader();
            reader.onload = function () {
                img.src = this.result
            }
            reader.readAsDataURL(selectedFile);
        }
        function filedata() {
            var inp = document.getElementById('inputphoto')
            var img = document.getElementById('img')

            var t = img.src.substring(21)
            document.getElementById('inputphoto').value = t
            alert(document.getElementById('inputphoto').value)
        }
    </script>
}


